@model IEnumerable<Model.MedicalDiagnosis>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <div style="margin: 100px"></div>
    <tr>
        <th>
            Hrvatsko ime
        </th>
        <th>
            Latinsko ime
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameHRV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameLAT)
        </td>
        <td>
            <a href="javascript:void(0);" onclick="history.go(-1);">Odaberi</a>
        </td>
    </tr>
}

</table>
